* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.header .spacer {
    flex-grow: 1;
}

.header .logo {
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.header .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    gap: 25px;
    color: #e5e7eb;
}

.links a {
    text-decoration: none;
    color: #f9faf8;

}

.splash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    background-color: #1f2937;
}

.splash-text {
    display: flex;
    flex-direction: column;
    align-items: right;
    max-width: 350px;
    margin: 0;
    color: #f9faf8;
}

.splash-img img {
    max-width: 700px;
    max-height: 300px;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.splash-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.splash-button {
    padding-top: 15px;
}

.splash-button button {
    background-color: #3882f6;
    padding: 10px 40px;
    border: none;
    border-radius: .5rem;
    font-size: large;
    color: #f9faf8;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
}

.alt {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-box {
    background-color: white;
    border: solid;
    border-radius: 1rem;
    border-color: #3882f6;
    height: 150px;
    width: 150px;
}

.card-text {
    width: 150px;
    padding-top: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rem;
    width: auto;
    background-color: #e5e7eb;
}

.quote h3 {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 800px;
}

.quote h4 {
    text-align: right;
    width: 800px;
    font-size: 30px;
}

.c2a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}

.c2a-background {
    background-color: #3882f6;
    border: #3882f6 solid;
    border-radius: 1rem;
    padding: 3rem 6rem;

    display: flex;
    flex-direction: row;
    gap: 150px;
}

.c2a-text {
    color: #e5e7eb;
    font-size: 20px;
}

.c2a-text h2 {
    color: #e5e7eb;
    font-size: 36px;
}

.c2a-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2a-button button {
    background-color: #3882f6;
    border: solid 3px;
    border-radius: .5rem;
    padding: 10px 40px;
    border-color: #e5e7eb;
    color: #e5e7eb;
    font-size: 20px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 50px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}